
html, body {
  height: 100%;
}

#map-container {
  height: 92%;
}

#map-canvas {
  height: 100%;
}

#nav-bar {
  padding-top: 8px;
  padding-left: 8px;
  padding-right: 8px;
  background-color: #33C3F0;
  text-align: center;
}

.section {
  padding: 1rem 0 1rem;
  text-align: center;

}

.map-overlay {
  position: absolute;
  z-index: 100;
}

#lat-long, #search-results  {
  margin-left: 1%;
}

#search-results {
  margin-top: 75px;
}

#lat-long form input[type="submit"] {
  background: white;
}

.container {
  width: 100%;
  padding: 0;
}

table {
  background-color: white;
  border-radius: 25px;
  border: 1px gray;
}

