


<div class="container" id="map-container">
  <div id="lat-long">
    <% if login? %>
      <form action='/go' method='post' id='go'>
        <input type='number' step="any" name='latitude' placeholder='latitude'>
        <input type='number' step="any" name='longitude' placeholder='longitude'>
        <input type='submit' name='Login' value='update'>
      </form>
      <form action='/find' method='post' id='go'>
        <input type='text' step="any" name='search_string' placeholder='search for anything'>
        <input type='submit' name='search' value='search'>
      </form>
    <% end %>
</div>

    <div id="map-canvas">
    </div>
</div>



