


<div class="container" id="map-container">
  <div id="lat-long">
    <% if login? %>
      <form action='/go' method='post' id='go'>
        <input type='text' step="any" name='latlng' placeholder='search'>
        <input type='submit' name='Login' value='Search'>
      </form>
    <% end %>
</div>

    <div id="map-canvas">
    </div>
</div>



