


<div class="container" id="map-container">
  <% if login? %>
    <div id="lat-long" class="map-overlay">
        <form action='/go' method='post' id='go'>
          <input type='text' step="any" name='latlng' placeholder='search'>
          <input type='submit' name='Login' value='Search'>
        </form>
    </div>

    <% if @results %>
      <div class="map-overlay" id="search-results">
        <table class="u-full-width">
          <tbody>
            <% @results.each_with_index do |result, i| %>
              <% break if i > 8 %>
              <tr>
                <td><b><%=result["name"]%></b><br>
                <%=result["formatted_address"].slice(0,result["formatted_address"].index(','))%></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% end %>


  <% end %>



  <div id="map-canvas"></div>
</div>



