<% if login? %>
  <form action='/go' method='post' id='go'>
    <p class='form-headers'>Choose Coordinates:</p>
    <input type='number' step="any" name='latitude' placeholder='latitude'>
    <input type='number' step="any" name='longitude' placeholder='longitude'>
    <input type='submit' name='Login' value='update'>
  </form>
<% end %>
<div id="map-canvas" class=".u-full-width"></div>


