<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAjeCLtRtyVq0nEIC6ImWQ7GDCKUM-0RZc">
    </script>
  <script src="/js/application.js"></script>
  <title></title>
</head>
<body>
  <nav>
    <ul>
        <li><a href="/">Home</a></li>
      <% if login? %>
        <li><a href="/logout">Logout</a></li>
      <% else %>
        <li><a href="/users/new">Register</a></li>
        <li><a href="/login">Login</a></li>
      <% end %>
    </ul>
  </nav>
  <%= yield %>
</body>
</html>
