
<form action='/users' method='post' id='register'>
  <p class='form-headers'>Register:</p>
  <input type='email' name='user[email]' placeholder='email'>
  <input type='password' name='user[password]' placeholder='password'>
  <input type='submit' name='Sign Up' value="Register">
</form>